<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SERHATCELL.Properties.Settings.serhatgulcellConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\serhatgulcell.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>